@import "./shared/color-palette";

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
        $width: 30%;
        width: 30%;
        margin-bottom: 10%;
        margin-right: 4%;
    
        img {
            width: 100%;
        }
    }

    .login-container {
        width: 30%;
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }
        
        button {
            background: $blue-bt-gradient;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 26px;
        
            width: 55%;
            border: none;
            color: $fg-main-color;
            margin: 1em;
            line-height: 2.5em;
        }
        
        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $fg-main-color;
            padding: 1em;
            margin: 1em;
            width: 70%;
        }
    
        p {
            margin: 0;
            margin-bottom: 1em;
            color: grey;
            font-size: 12px;
        }
    
        a {
            color: $fg-main-color;
            text-decoration: underline;
        }
    }
}

// mobile devices
@media only screen and (max-device-width: 420px) {
    .container {
        width: 100vw;
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .logo {
            $width: 80%;
            width: $width;
            margin: 0;
            margin-bottom: 3vh;
        
            img {
                width: 100%;
            }
        }
    
        .login-container {
            width: 100%;
        
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;
            }
        }
    }
}