.container {
    margin-top: 2rem;

    .admin-form form {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .checkboxes {
            display: flex;
            align-items: center;

            input[type="checkbox"] {
                margin-right: 3rem;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    hr {
        opacity: 0.4;
    }

    input[type="submit"] {
        width: 10rem;
    }
}

@media only screen and (max-width: 650px) {
    .admin-form form {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .title {
            margin-bottom: 2rem;
        }

        .checkboxes {
            justify-content: space-around;

            input[type="checkbox"] {
                margin: 0 !important;
            }
        }
    }
}
