@import "./shared/color-palette";
@import "./shared/variables";

$left-panel-width: 27em;

.home-main {
  display: flex;
  flex-direction: row;
}

.home-left-container {
  $padding-top: 0.3em;

  width: $left-panel-width;
  height: calc(100vh - #{$main-navbar-height} - #{$padding-top});
  background-color: $bg-darker-color;
  padding-top: $padding-top;
  box-shadow: 0px 3px 6px #00000029;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  // &:hover::-webkit-scrollbar {
  //     width: 2em;
  // }

  // &::-webkit-scrollbar-track {
  //     background: black;
  //     border-radius: 1em;
  // }

  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
  }

  // &::-webkit-scrollbar-thumb:hover {
  //     background: $bg-color-brighter;
  // }

  // &:hover {
  //     &::-webkit-scrollbar {
  //         width: 10em;
  //     }
  // }

  .search-projects-form > input {
    width: 100%;
    background-color: $bg-main-color;
    box-shadow: inset 0px 3px 6px #00000029;
    //border: 1px solid #363738;
    border-width: 0;
    color: $fg-main-color;
    margin-top: 1em;
  }

  .projects-buttons {
    $element-width: 47%;

    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    .new-project-bt {
      width: $element-width;
    }

    .filters {
      height: inherit;
      width: $element-width;
      border-radius: 1em;
      border: 1px solid white;
    }
  }

  .projects-container {
    margin: 0 1em;

    .projects {
      margin-top: 1em;

      ul {
        li {
          margin-bottom: 1em;

          a {
            div {
              width: 100%;
              height: 10em;
              border-radius: 2em;
              background-color: red;
            }
          }
        }
      }
    }
  }
}

.home-news-container {
  width: calc(100vw - #{$left-panel-width});
}

@media only screen and (max-device-width: 800px) {
  .home-main {
    flex-direction: column;
  }

  .home-left-container {
    width: 100%;
    height: auto;

    .search-projects-form > input {
      margin-top: 0.5em;
    }

    .projects-buttons {
      display: none;
    }
  }
}
