@import "./shared/color-palette";
@import "./shared/variables";

$left-panel-width: 27rem;

.home-navbar {
    position: fixed;
}

.home-main-container {
    display: flex;
    flex-direction: row;
}

.home-left-container {
    $padding-top: 0rem;

    position: fixed;
    top: $main-navbar-height;
    width: $left-panel-width;
    height: calc(100vh - #{$main-navbar-height} - #{$padding-top});
    background-color: $bg-darker-color;
    padding-top: $padding-top;
    box-shadow: 0px 3px 6px #00000029;
    overflow-y: scroll;
    overflow-x: hidden;

    .left-nav-separator {
        height: 1px;
        width: 100%;
        opacity: 0.05;
        margin: 0;
    }

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    // &:hover::-webkit-scrollbar {
    //     width: 2em;
    // }

    // &::-webkit-scrollbar-track {
    //     background: black;
    //     border-radius: 1em;
    // }

    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: rgb(37, 37, 37);
    }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: $bg-color-brighter;
    // }

    // &:hover {
    //     &::-webkit-scrollbar {
    //         width: 10em;
    //     }
    // }

    .search-projects-form > input {
        width: 100%;
        background-color: $bg-main-color;
        box-shadow: inset 0px 3px 6px #00000029;
        //border: 1px solid #363738;
        border-width: 0;
        color: $fg-main-color;
        margin-top: 1rem;
    }

    .projects-buttons {
        $element-width: 47%;

        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .new-project-bt {
            width: $element-width;

            i {
                margin-right: 1rem;
            }
        }

        .filters {
            height: inherit;
            margin: 0.3rem 0;
            width: $element-width;
            border-radius: 1rem;
            border: 1px solid white;
        }
    }

    .projects-container {
        margin: 0 1rem;

        .projects {
            margin-top: 1rem;

            #no-projects-info {
                //text-align: center;
                // border: 1px solid white;
                // border-radius: 1rem;
                opacity: 0.3;

                hr {
                    margin-top: 2rem;
                }

                h1 {
                    font-size: 1.3rem;
                    margin: 1.5rem 1rem 1rem 1rem;
                }

                p {
                    font-size: 1rem;
                    margin: 0.5rem 1rem;
                }
            }

            ul {
                li {
                    margin-bottom: 1rem;

                    a {
                        .project-tile {
                            background-color: transparent;
                            width: 100%;
                            height: 10rem;
                            border-radius: $project-tile-border-radius;
                            border: 1px solid $border-color;
                            text-align: center;
                            position: relative;
                            transition: border-color ease-out $transition-time;
                            overflow: hidden;

                            &:hover {
                                border-color: $fg-main-color;
                            }

                            img {
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                //border-radius: $project-tile-border-radius;
                                opacity: 0.1;
                                transition: all ease-out $transition-time;

                                &:hover {
                                    opacity: 1;
                                    transform: scale(1.08);
                                }
                            }

                            div {
                                position: absolute;
                                width: 100%;

                                h1 {
                                    font-weight: bold;
                                    font-size: 2rem;
                                    margin-top: 0.4rem;
                                    margin-bottom: 0;
                                    color: $fg-main-color;
                                }

                                p {
                                    margin-top: 0.6rem;
                                    // color: $fg-darker-color;
                                    color: $fg-main-color;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-news-container {
    $margin: 2rem;
    min-height: calc(100vh - #{$main-navbar-height});
    width: calc(100% - #{$left-panel-width} - #{$margin});
    margin-left: calc(#{$left-panel-width} + #{$margin});
    margin-right: $margin;
    margin-top: $main-navbar-height;

    #news-empty-image {
        background-image: url("../img/empty.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.1;
        width: 100%;
        height: 90%;
        margin-top: 1rem;
    }

    .join-project-message {
        margin-top: 3rem;

        img {
            float: left;
            border-radius: 50%;
            border: 2px solid #2d2e2e;
            width: 170px;
            height: 170px;
            margin-bottom: 1rem;
            margin-right: 2rem;
        }

        .news-right-side {
            display: flex;
            height: 170px;
            flex-direction: column;
            justify-content: flex-end;

            p {
                margin-bottom: 2rem;
                margin-left: 1rem;
                font-size: 1.5rem;

                span {
                    opacity: 0.7;
                }
            }

            .news-buttons {
                margin-bottom: 1.5rem;

                button {
                    width: 10rem;
                    margin-right: 1rem;
                }
            }
        }

        hr {
            clear: both;
        }
    }

    .pull-request-message {
        margin-top: 2rem;
        background-color: $bg-darker-color;
        // padding: 0.5em 0;
        display: flex;
        border-radius: 1rem;

        .pull-request-logo {
            // display: inline-block;
            margin: auto 3rem;

            i {
                font-size: 6rem;
            }
        }

        .pull-request-info {
            // display: inline-block;

            h1 {
                font-size: 2rem;
                margin-bottom: 0;

                span {
                    opacity: 0.7;
                    font-size: 0.8rem;
                }
            }

            h2 {
                margin-left: 1rem;
                font-size: 1.1rem;
            }

            h3 {
                margin-left: 1rem;
                font-size: 1.1rem;
                opacity: 0.7;
            }
        }
    }
}

.git-tools {
    width: 280px;
    height: 300px;
    background-color: $bg-darker-color;
    position: fixed;
    bottom: -250px;
    right: 0;
    box-shadow: $shadow2;
    border-radius: 15px;
    transition: bottom ease-out $transition-time;

    .git-icons {
        justify-content: space-around !important;
        margin: 5px 0;

        label {
            position: relative;

            .main-icon {
                margin: auto 0;
                font-size: 40px;
            }

            .check-icon {
                position: absolute;
                bottom: 0;
                right: -10px;
                font-size: 16px;
                color: $checked-icon-color;
                opacity: 0;
                transition: opacity ease-out $transition-time;
            }
        }
    }

    .git-input {
        width: calc(100% - 2rem);
        margin: 0.5rem 1rem;
    }

    .git-submit-bt {
        width: calc(100% - 6em);
        margin: 1.5rem 3rem 0 3rem;
    }

    // i {
    //     margin: auto 0;
    //     font-size: 40px;
    // }

    &:hover {
        bottom: 0;
    }

    &:not(:hover) {
        label {
            opacity: 1 !important;
        }
    }
}

@media only screen and (max-device-width: 800px) {
    .home-main-container {
        flex-direction: column;
    }

    .home-left-container {
        width: 100%;
        height: auto;

        .search-projects-form > input {
            margin-top: 0.5rem;
        }

        .projects-buttons {
            display: none;
        }
    }
}
