@import "./shared/color-palette";

.new-project-form {
  input {
    font-size: 1.3em;
    margin-bottom: 1.5em;
  }

  .main-input {
    width: 100%;
  }

  .git-form {
    background-color: $bg-darker-color;
    width: 100%;

    .git-input {
      $input-margin: 1em;

      margin-left: $input-margin;
      margin-right: $input-margin;
      width: 100%;
      width: calc(100% - 2 * #{$input-margin});
    }
  }
}
