@import "./shared/color-palette";
@import "./shared/fonts";
@import "./shared/variables";
// @import "./start";

// * {
//     border: 1px solid red;
// }

html {
    font-size: 12px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $bg-main-color;
    font-family: Lato, sans-serif;
    font-weight: normal;
    color: $fg-main-color;
}

input,
textarea {
    color: $fg-main-color;
    outline: none;
    resize: none;
}

h1 {
    font-weight: normal;
}

.main-container {
    width: $main-width;
    margin: 0 auto;

    .page-header {
        margin-left: 1.5rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-device-width: $main-width) {
    .main-container {
        background-color: red;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field-round {
    box-shadow: $shadow;
    border-radius: 2rem;
    line-height: 3.2rem;
}

.input-field-line-under {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $fg-main-color;
    padding: 1rem;
    box-sizing: border-box;
    transition: border-color ease-in-out $transition-time;
}

.input-field-line-under-no-valid {
    border-color: red !important;
}

.button {
    border: none;
    color: $fg-main-color;
    font-size: 1.3rem;
    cursor: pointer;
    transition: box-shadow ease-in-out $transition-time;

    &:hover {
        box-shadow: $shadow2;
    }
}

.bt-blue {
    background: $blue-bt-gradient;
}

.bt-green {
    background: $green-bt-gradient;
}

.bt-red {
    background: $red-bt-gradient;
}

.search-form > input {
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    text-indent: 1rem;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
        }
    }
}

.main-navbar {
    width: 100%;
    height: $main-navbar-height;
    background-color: $bg-darker-color;
    box-shadow: 0px 3px 6px #00000029;

    // display: flex;
    // align-items: center;

    .logo {
        height: 80%;
        margin-right: 3.4rem;
        margin-left: 3rem;
    }

    .nav-container {
        width: 100%;
        //display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        color: $fg-main-color;

        ul {
            // margin: 0;
            // //font-size: 20px;
            // list-style-type: none;

            li {
                display: inline-block;
                // padding: 0;
                // margin: 0;
                margin-right: 2.2rem;

                a {
                    //color: $fg-main-color;
                    //text-decoration: none;
                    transition: color $transition-time;

                    &:visited,
                    &:link {
                        color: $fg-main-color;
                    }

                    &:hover {
                        color: $fg-darker-color;
                    }
                }
            }
        }

        .right-side-icons {
            margin-right: 1.5rem;

            i {
                margin-left: 1rem;
            }
        }
    }
}

.messages {
    color: red;
}

.input-radio-container {
    display: flex;
    justify-content: space-evenly;

    input[type="radio"] {
        appearance: none;
        display: none;
    }

    label {
        opacity: 0.2;
        transition: opacity ease-in-out $transition-time;
        display: flex;

        &:hover {
            cursor: pointer;
        }
    }

    input[type="radio"]:checked + label {
        opacity: 1;
    }
}

// .data-input {
//   background-color: transparent;
//   border: none;
//   border-bottom: 1px solid $fg-main-color;
//   font-size: 1.2em;
//   margin: 0;
//   box-sizing: border-box;
//   text-indent: 1em;
// }

@media only screen and (max-device-width: 800px) {
    .main-navbar .nav-container {
        display: none;
    }
}
