@import "./shared/color-palette";
@import "./shared/fonts";
@import "./shared/variables";

// TODO: import all styles to one file

html {
    font-size: 12px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $bg-main-color;
    font-family: Lato, sans-serif;
    font-weight: normal;
    color: $fg-main-color;
}

input,
textarea {
    color: $fg-main-color;
    outline: none;
    resize: none;
}

input,
button {
    outline: none;
}

h1 {
    font-weight: normal;
}

.main-container {
    max-width: $main-width;
    margin: 0 auto;

    .page-header {
        margin-left: 1.5rem;
        margin-top: 2rem;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field-round {
    box-shadow: $shadow;
    border-radius: 2rem;
    line-height: 3.2rem;
}

.input-field-line-under {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $fg-main-color;
    padding: 1rem;
    box-sizing: border-box;
    transition: border-color ease-in-out $transition-time;
}

.input-field-line-under-no-valid {
    border-color: red !important;
}

.button {
    border: none;
    color: $fg-main-color;
    font-size: 1.3rem;
    cursor: pointer;
    transition: box-shadow ease-in-out $transition-time;

    &:hover {
        box-shadow: $shadow2;
    }
}

.bt-blue {
    background: $blue-bt-gradient;
}

.bt-green {
    background: $green-bt-gradient;
}

.bt-red {
    background: $red-bt-gradient;
}

.font-red {
    color: red;
}

.font-green {
    color: green;
}

.search-form > input {
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    text-indent: 1rem;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
            transition: color $transition-time;

            &:visited,
            &:link {
                color: $fg-main-color;
            }

            &:hover {
                color: $fg-darker-color;
            }
        }
    }
}

.messages {
    color: red;
}

.hover-basic {
    cursor: pointer;
    transition: opacity ease-in-out $transition-time;

    &:hover {
        opacity: 0.7;
    }
}

.input-radio-container {
    display: flex;
    justify-content: space-evenly;

    input[type="radio"] {
        appearance: none;
        display: none;
    }

    label {
        opacity: 0.2;
        transition: opacity ease-in-out $transition-time;
        display: flex;

        &:hover {
            cursor: pointer;
        }
    }

    input[type="radio"]:checked + label {
        opacity: 1;
    }
}

.main-navbar {
    z-index: 999;
    width: 100%;
    height: $main-navbar-height;
    background-color: $bg-darker-color;
    box-shadow: 0px 3px 6px #00000029;

    .logo {
        height: 80%;
        margin-right: 3.4rem;
        margin-left: 3rem;
    }

    .visible-nav {
        transform: translateX(0%) !important;
    }

    .nav-container {
        width: 100%;
        justify-content: space-between;
        font-size: 1.5rem;
        color: $fg-main-color;
        transition: transform ease-in-out $transition-time;
        z-index: 9999;

        .main-list {
            li {
                display: inline-block;
                margin-right: 2.2rem;
            }
        }

        .user-list {
            background-color: $bg-darker-color;
            position: fixed;
            right: 0;
            top: $main-navbar-height;
            padding: 0 5rem;
            transform: translateX(100%);
            transition: transform ease-in-out $transition-time;
            margin: 0;

            li {
                line-height: 4rem;
                text-align: center;
            }
        }

        .right-side-icons {
            margin-right: 1.5rem;

            a {
                &:checked {
                    color: $fg-main-blue-color;
                }
            }

            i {
                margin-left: 1rem;
                font-size: 2.5rem;
                color: $fg-main-blue-color;
            }
        }
    }

    .burger {
        display: none;
        margin-right: 3rem;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 800px) {
    .main-navbar {
        .nav-container {
            position: fixed;
            right: 0;
            top: $main-navbar-height;
            background-color: $bg-darker-color;
            width: auto;
            text-align: center;
            transform: translateX(100%);

            .main-list {
                margin-bottom: 1rem;

                li {
                    display: block;
                    line-height: 4rem;
                    margin: 0;
                }
            }

            .user-list {
                transform: translateX(0%);
                position: static;
            }

            .right-side-icons {
                display: none;
            }
        }
    }

    // .main-navbar .nav-container {
    //     display: none;
    // }

    .main-navbar {
        justify-content: space-between;
    }

    .main-navbar .burger {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .nav-container {
        width: 100vw !important;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
