<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNode</title>
    <meta name="description" content="WdPAI project">
    <meta name="keywords" content="code programming team crew">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-navbar flex-center">
        <img class="logo" src="../img/logo.svg" alt="logo" />

        <div class="nav-container flex-center">
            <nav>
                <ul class="list">
                    <li><a style="visibility: hidden;" href="#">Home</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>

            <div class="right-side-icons flex-center">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </header>

    <main class="home-main-container">
        <section class="home-left-container">
            <div class="projects-container">
                <section>
                    <form class="search-form search-projects-form">
                        <input class="input-field-round" placeholder="&#xF002; Find a project"
                            style="font-family:Arial, FontAwesome">
                    </form>

                    <div class="projects-buttons">
                        <button class="input-field-round button bt-green new-project-bt">
                            New
                        </button>

                        <div class="filters">

                        </div>
                    </div>
                </section>
                <section class="projects">
                    <ul class="list">
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <img src="../img/example/pictures/altumcode-dMUt0X3f59Q-unsplash.jpg" alt="Project">
                                    <div>
                                        <h1>Snake</h1>
                                        <p>developer123</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="project-tile">
                                    <h1>Snake</h1>
                                    <p>developer123</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </section>

        <section class="home-news-container">

            <img src="../img/example/faces/image-1.png" alt="Avatar">

            <img src="../img/example/faces/image-2.png" alt="Avatar">

            <!-- <div>
                <img src="../img/example/faces/image-3.png" alt="Avatar">
            </div>
            <div>
                <img src="../img/example/faces/image-4.png" alt="Avatar">
            </div>
            <div>
                <img src="../img/example/faces/image-5.png" alt="Avatar">
            </div>
            <div>
                <img src="../img/example/faces/image-6.png" alt="Avatar">
            </div> -->
        </section>
    </main>
</body>

</html>