<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNode</title>
    <meta name="description" content="WdPAI project">
    <meta name="keywords" content="code programming team crew">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/new-project.css" />
    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-navbar flex-center">
        <img class="logo" src="../img/logo.svg" alt="logo" />

        <div class="nav-container flex-center">
            <nav>
                <ul class="list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>

            <div class="right-side-icons flex-center">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </header>

    <main class="main-container">
        <h1 class="new-project-page-header">Create new project</h1>
        <form class="new-project-form">
            <input class="input-field-line-under main-input" type="text" placeholder="Title...">
            <input class="input-field-line-under main-input" type="text" placeholder="Description...">

            <section class="git-form">
                <!-- <input class="input-field-line-under git-input" type="text" placeholder="Title...">
                <input class="input-field-line-under git-input" type="text" placeholder="Description..."> -->
                <hr>
                <hr>
            </section>
        </form>
    </main>
</body>

</html>