.community-navbar {
  width: 32rem;
  padding-bottom: 0 !important;
}

.community-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  list-style-type: none;
  margin-right: 2rem;
}

.community-navbar ul li a {
  text-decoration: none;
}

.community-navbar ul li a:visited, .community-navbar ul li a:link {
  color: white;
}

.community-navbar ul li a:hover {
  color: grey;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-container .project {
  margin: 1rem 2rem 0 2rem;
}

.projects-container .project img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0 0;
}

.projects-container .project > div {
  border: 1px solid gray;
  border-radius: 1em;
  height: 400px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
