.community-navbar {
  width: 32rem;
  padding-bottom: 0 !important;
}

.community-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  list-style-type: none;
  margin-right: 2rem;
}

.community-navbar ul li a {
  text-decoration: none;
}

.community-navbar ul li a:visited, .community-navbar ul li a:link {
  color: white;
}

.community-navbar ul li a:hover {
  color: grey;
}

@media only screen and (max-device-width: 32rem) {
  .community-navbar {
    width: 100%;
  }
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.projects-container .project {
  margin: 1rem 2rem 1rem 2rem;
  height: 380px;
  width: 300px;
  border-radius: 2em;
  background-color: #2d2e2e;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.projects-container .project .image {
  width: 100%;
  height: 45%;
  border-radius: 2em 2em 0 0;
  position: relative;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.projects-container .project .image h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3rem;
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.projects-container .project .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.projects-container .project .image:hover {
  cursor: pointer;
}

.projects-container .project .image:hover h1 {
  opacity: 1;
}

.projects-container .project .image:hover img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  opacity: 0.3;
}

.projects-container .project .info {
  margin: 1rem 2rem;
  height: calc(55% - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-container .project .info .basic-info {
  height: 70%;
  overflow: hidden;
}

.projects-container .project .info .basic-info h2 {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
}

.projects-container .project .info .basic-info p {
  margin-top: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3rem;
  line-height: 130%;
}

.projects-container .project .details-section > p {
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-container .project .details-section .social-section {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-container .project .details-section .social-section .likes i {
  margin-right: 0.3rem;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.projects-container .project .details-section .social-section .likes i:hover {
  cursor: pointer;
  opacity: 0.6;
}

.projects-container .project .details-section .social-section .likes p {
  display: inline-block;
  margin-right: 1rem;
}

.projects-container .project .details-section .social-section p {
  color: white !important;
  display: inline-block;
  margin: 0;
}

.projects-container .project:hover {
  -webkit-box-shadow: 0 3px 20px #000000ad;
          box-shadow: 0 3px 20px #000000ad;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media only screen and (max-device-width: 450px) {
  .projects-container .project {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-device-width: 380px) {
  .projects-container .project {
    width: 90%;
  }
}
