.home-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-left-container {
  width: 27em;
  height: calc(100vh - 4em - 0.3em);
  background-color: #2d2e2e;
  padding-top: 0.3em;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-left-container::-webkit-scrollbar {
  width: 0.5em;
}

.home-left-container::-webkit-scrollbar-thumb {
  border-radius: 1em;
}

.home-left-container:hover::-webkit-scrollbar-thumb {
  background: #252525;
}

.home-left-container .search-projects-form > input {
  width: 100%;
  background-color: #363738;
  -webkit-box-shadow: inset 0px 3px 6px #00000029;
          box-shadow: inset 0px 3px 6px #00000029;
  border-width: 0;
  color: white;
  margin-top: 1em;
}

.home-left-container .projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}

.home-left-container .projects-buttons .new-project-bt {
  width: 47%;
}

.home-left-container .projects-buttons .filters {
  height: inherit;
  width: 47%;
  border-radius: 1em;
  border: 1px solid white;
}

.home-left-container .projects-container {
  margin: 0 1em;
}

.home-left-container .projects-container .projects {
  margin-top: 1em;
}

.home-left-container .projects-container .projects ul li {
  margin-bottom: 1em;
}

.home-left-container .projects-container .projects ul li a .project-tile {
  background-color: transparent;
  width: 100%;
  height: 10em;
  border-radius: 2em;
  border: 1px solid #73777b;
  text-align: center;
  position: relative;
  -webkit-transition: border-color ease-out 0.5s;
  transition: border-color ease-out 0.5s;
  overflow: hidden;
}

.home-left-container .projects-container .projects ul li a .project-tile:hover {
  border-color: white;
}

.home-left-container .projects-container .projects ul li a .project-tile img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.home-left-container .projects-container .projects ul li a .project-tile img:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.home-left-container .projects-container .projects ul li a .project-tile div {
  position: absolute;
  width: 100%;
}

.home-left-container .projects-container .projects ul li a .project-tile div h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0.4em;
  margin-bottom: 0;
  color: white;
}

.home-left-container .projects-container .projects ul li a .project-tile div p {
  margin-top: 0.6em;
  color: white;
  opacity: 0.8;
}

.home-news-container {
  width: calc(100vw - 27em - 2em);
  margin: 2em;
}

.home-news-container img {
  border-radius: 50%;
  border: 2px solid #2d2e2e;
  width: 170px;
  height: 170px;
}

@media only screen and (max-device-width: 800px) {
  .home-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-left-container {
    width: 100%;
    height: auto;
  }
  .home-left-container .search-projects-form > input {
    margin-top: 0.5em;
  }
  .home-left-container .projects-buttons {
    display: none;
  }
}
