.home-navbar {
  position: fixed;
}

.home-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-left-container {
  position: fixed;
  top: 4em;
  width: 27em;
  height: calc(100vh - 4em - 0.3em);
  background-color: #2d2e2e;
  padding-top: 0.3em;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-left-container::-webkit-scrollbar {
  width: 0.5em;
}

.home-left-container::-webkit-scrollbar-thumb {
  border-radius: 1em;
}

.home-left-container:hover::-webkit-scrollbar-thumb {
  background: #252525;
}

.home-left-container .search-projects-form > input {
  width: 100%;
  background-color: #363738;
  -webkit-box-shadow: inset 0px 3px 6px #00000029;
          box-shadow: inset 0px 3px 6px #00000029;
  border-width: 0;
  color: white;
  margin-top: 1em;
}

.home-left-container .projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}

.home-left-container .projects-buttons .new-project-bt {
  width: 47%;
}

.home-left-container .projects-buttons .filters {
  height: inherit;
  margin: 0.3em 0;
  width: 47%;
  border-radius: 1em;
  border: 1px solid white;
}

.home-left-container .projects-container {
  margin: 0 1em;
}

.home-left-container .projects-container .projects {
  margin-top: 1em;
}

.home-left-container .projects-container .projects ul li {
  margin-bottom: 1em;
}

.home-left-container .projects-container .projects ul li a .project-tile {
  background-color: transparent;
  width: 100%;
  height: 10em;
  border-radius: 2em;
  border: 1px solid #73777b;
  text-align: center;
  position: relative;
  -webkit-transition: border-color ease-out 0.5s;
  transition: border-color ease-out 0.5s;
  overflow: hidden;
}

.home-left-container .projects-container .projects ul li a .project-tile:hover {
  border-color: white;
}

.home-left-container .projects-container .projects ul li a .project-tile img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.home-left-container .projects-container .projects ul li a .project-tile img:hover {
  opacity: 1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.home-left-container .projects-container .projects ul li a .project-tile div {
  position: absolute;
  width: 100%;
}

.home-left-container .projects-container .projects ul li a .project-tile div h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0.4em;
  margin-bottom: 0;
  color: white;
}

.home-left-container .projects-container .projects ul li a .project-tile div p {
  margin-top: 0.6em;
  color: white;
  opacity: 0.8;
}

.home-news-container {
  width: calc(100% - 27em - 2em);
  margin-left: calc(27em + 2em);
  margin-right: 2em;
  margin-top: 4em;
}

.home-news-container .join-project-message {
  margin-top: 3em;
}

.home-news-container .join-project-message img {
  float: left;
  border-radius: 50%;
  border: 2px solid #2d2e2e;
  width: 170px;
  height: 170px;
  margin-bottom: 1em;
  margin-right: 2em;
}

.home-news-container .join-project-message .news-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-news-container .join-project-message .news-right-side p {
  margin-bottom: 2em;
  margin-left: 1em;
  font-size: 1.5em;
}

.home-news-container .join-project-message .news-right-side p span {
  opacity: 0.7;
}

.home-news-container .join-project-message .news-right-side .news-buttons {
  margin-bottom: 1.5em;
}

.home-news-container .join-project-message .news-right-side .news-buttons button {
  width: 10em;
  margin-right: 1em;
}

.home-news-container .join-project-message hr {
  clear: both;
}

.home-news-container .pull-request-message {
  margin-top: 2em;
  background-color: #2d2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1em;
}

.home-news-container .pull-request-message .pull-request-logo {
  margin: auto 3em;
}

.home-news-container .pull-request-message .pull-request-logo i {
  font-size: 6em;
}

.home-news-container .pull-request-message .pull-request-info h1 {
  font-size: 2em;
  margin-bottom: 0;
}

.home-news-container .pull-request-message .pull-request-info h1 span {
  opacity: 0.7;
  font-size: 0.8em;
}

.home-news-container .pull-request-message .pull-request-info h2 {
  margin-left: 1em;
  font-size: 1.1em;
}

.home-news-container .pull-request-message .pull-request-info h3 {
  margin-left: 1em;
  font-size: 1.1em;
  opacity: 0.7;
}

.git-tools {
  width: 280px;
  height: 300px;
  background-color: #2d2e2e;
  position: fixed;
  bottom: -250px;
  right: 0;
  -webkit-box-shadow: 0 3px 20px #000000ad;
          box-shadow: 0 3px 20px #000000ad;
  border-radius: 15px;
  -webkit-transition: bottom ease-out 0.5s;
  transition: bottom ease-out 0.5s;
}

.git-tools .git-icons {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  margin: 5px 0;
}

.git-tools .git-icons label {
  position: relative;
}

.git-tools .git-icons label .main-icon {
  margin: auto 0;
  font-size: 40px;
}

.git-tools .git-icons label .check-icon {
  position: absolute;
  bottom: 0;
  right: -10px;
  font-size: 16px;
  color: green;
  opacity: 0;
  -webkit-transition: opacity ease-out 0.5s;
  transition: opacity ease-out 0.5s;
}

.git-tools .git-input {
  width: calc(100% - 2em);
  margin: 0.5em 1em;
}

.git-tools .git-submit-bt {
  width: calc(100% - 6em);
  margin: 1.5em 3em 0 3em;
}

.git-tools:hover {
  bottom: 0;
}

.git-tools:not(:hover) label {
  opacity: 1 !important;
}

@media only screen and (max-device-width: 800px) {
  .home-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-left-container {
    width: 100%;
    height: auto;
  }
  .home-left-container .search-projects-form > input {
    margin-top: 0.5em;
  }
  .home-left-container .projects-buttons {
    display: none;
  }
}
