.home-navbar {
  position: fixed;
}

.home-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-left-container {
  position: fixed;
  top: 4.4rem;
  width: 27rem;
  height: calc(100vh - 4.4rem - 0rem);
  background-color: #2d2e2e;
  padding-top: 0rem;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-left-container .left-nav-separator {
  height: 1px;
  width: 100%;
  opacity: 0.05;
  margin: 0;
}

.home-left-container::-webkit-scrollbar {
  width: 0.5rem;
}

.home-left-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.home-left-container:hover::-webkit-scrollbar-thumb {
  background: #252525;
}

.home-left-container .search-projects-form > input {
  width: 100%;
  background-color: #363738;
  -webkit-box-shadow: inset 0px 3px 6px #00000029;
          box-shadow: inset 0px 3px 6px #00000029;
  border-width: 0;
  color: white;
  margin-top: 1rem;
}

.home-left-container .projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.home-left-container .projects-buttons .new-project-bt {
  width: 47%;
}

.home-left-container .projects-buttons .new-project-bt i {
  margin-right: 1rem;
}

.home-left-container .projects-buttons .filters {
  height: inherit;
  margin: 0.3rem 0;
  width: 47%;
  border-radius: 1rem;
  border: 1px solid white;
}

.home-left-container .projects-container {
  margin: 0 1rem;
}

.home-left-container .projects-container .projects {
  margin-top: 1rem;
}

.home-left-container .projects-container .projects #no-projects-info {
  opacity: 0.3;
  display: none;
}

.home-left-container .projects-container .projects #no-projects-info hr {
  margin-top: 2rem;
}

.home-left-container .projects-container .projects #no-projects-info h1 {
  font-size: 1.3rem;
  margin: 1.5rem 1rem 1rem 1rem;
}

.home-left-container .projects-container .projects #no-projects-info p {
  font-size: 1rem;
  margin: 0.5rem 1rem;
}

.home-left-container .projects-container .projects ul li {
  margin-bottom: 1rem;
}

.home-left-container .projects-container .projects ul li a:hover .project-tile {
  border-color: white;
}

.home-left-container .projects-container .projects ul li a:hover .project-tile img {
  opacity: 1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.home-left-container .projects-container .projects ul li a .project-tile {
  background-color: transparent;
  width: 100%;
  height: 10rem;
  border-radius: 2rem;
  border: 1px solid #73777b;
  text-align: center;
  position: relative;
  -webkit-transition: border-color ease-out 0.5s;
  transition: border-color ease-out 0.5s;
  overflow: hidden;
}

.home-left-container .projects-container .projects ul li a .project-tile img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.home-left-container .projects-container .projects ul li a .project-tile div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.home-left-container .projects-container .projects ul li a .project-tile div h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
  color: white;
}

.home-left-container .projects-container .projects ul li a .project-tile div p {
  margin-top: 0.6rem;
  color: white;
  opacity: 0.8;
}

.home-news-container {
  min-height: calc(100vh - 4.4rem - 55px);
  width: calc(100% - 27rem - 2rem);
  margin-left: calc(27rem + 2rem);
  margin-right: 2rem;
  margin-top: 4.4rem;
  padding-bottom: 55px;
}

.home-news-container #news-empty-image {
  background-image: url("../img/empty.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.1;
  width: 100%;
  height: 90%;
  margin-top: 1rem;
  display: none;
}

.home-news-container .join-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5%;
  background-color: #2d2e2e;
  margin-top: 3rem;
  border-radius: 1rem;
}

.home-news-container .join-request .request-info h1 {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.home-news-container .join-request .request-info p {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.home-news-container .join-request .request-info p span {
  font-weight: bold;
}

.home-news-container .join-request .request-buttons {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-news-container .join-request .request-buttons button {
  width: 48%;
}

.git-tools {
  width: 280px;
  height: 230px;
  background-color: #2d2e2e;
  position: fixed;
  bottom: -180px;
  right: 0;
  -webkit-box-shadow: 0 3px 20px #000000ad;
          box-shadow: 0 3px 20px #000000ad;
  border-radius: 15px;
  -webkit-transition: bottom ease-out 0.5s;
  transition: bottom ease-out 0.5s;
}

.git-tools .git-icons {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  margin: 5px 0;
}

.git-tools .git-icons label {
  position: relative;
}

.git-tools .git-icons label .main-icon {
  margin: auto 0;
  font-size: 40px;
}

.git-tools .git-icons label .check-icon {
  position: absolute;
  bottom: 0;
  right: -10px;
  font-size: 16px;
  color: green;
  opacity: 0;
  -webkit-transition: opacity ease-out 0.5s;
  transition: opacity ease-out 0.5s;
}

.git-tools .git-input {
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
}

.git-tools .git-submit-bt {
  width: calc(100% - 6rem);
  margin: 1.5rem 3rem 0 3rem;
}

.git-tools:hover {
  bottom: 0;
}

.git-tools:not(:hover) label {
  opacity: 1 !important;
}

@media only screen and (max-device-width: 800px) {
  .home-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .home-news-container {
    display: block;
    position: static;
    width: 100% !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .home-left-container {
    display: block;
    width: 100%;
    position: static;
    height: auto;
  }
  .home-left-container .search-projects-form > input {
    margin-top: 0.5rem;
  }
  .git-tools {
    width: 100%;
  }
}
