.new-project-form input {
  width: 100%;
}

.new-project-form .git-form {
  background-color: #2d2e2e;
  width: 100%;
}

.new-project-form .git-form input {
  margin: 0 1em;
  width: calc(100% - 2 * 1em);
}
