@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap);
}

html {
  font-size: 12px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #363738;
  font-family: Lato, sans-serif;
  font-weight: normal;
  color: white;
}

input,
textarea {
  color: white;
  outline: none;
  resize: none;
}

input,
button {
  outline: none;
}

h1 {
  font-weight: normal;
}

.main-container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-container .page-header {
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-field-round {
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  border-radius: 2rem;
  line-height: 3.2rem;
}

.input-field-line-under {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-color ease-in-out 0.5s;
  transition: border-color ease-in-out 0.5s;
}

.input-field-line-under-no-valid {
  border-color: red !important;
}

.button {
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
}

.button:hover {
  -webkit-box-shadow: 0 3px 20px #000000ad;
          box-shadow: 0 3px 20px #000000ad;
}

.bt-blue {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#1382a3), to(#0a4152)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #1382a3 0%, #0a4152 100%) 0% 0% no-repeat padding-box;
}

.bt-green {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#1382a3), color-stop(0%, #02d52c), color-stop(84%, #086349), color-stop(100%, #09594c), to(#0a4152)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #1382a3 0%, #02d52c 0%, #086349 84%, #09594c 100%, #0a4152 100%) 0% 0% no-repeat padding-box;
}

.bt-red {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#1321a3), color-stop(0%, #02d52c), color-stop(0%, #ef0e0e), color-stop(1%, #cc0808), color-stop(100%, #7e0a0a), color-stop(100%, #9a0808), to(#0a4152)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #1321a3 0%, #02d52c 0%, #ef0e0e 0%, #cc0808 1%, #7e0a0a 100%, #9a0808 100%, #0a4152 100%) 0% 0% no-repeat padding-box;
}

.font-red {
  color: red;
}

.font-green {
  color: green;
}

.search-form > input {
  font-size: 1.2rem;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: 1rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list li {
  padding: 0;
  margin: 0;
}

.list li a {
  text-decoration: none;
}

.main-navbar {
  width: 100%;
  height: 4.4rem;
  background-color: #2d2e2e;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.main-navbar .logo {
  height: 80%;
  margin-right: 3.4rem;
  margin-left: 3rem;
}

.main-navbar .nav-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: white;
}

.main-navbar .nav-container ul li {
  display: inline-block;
  margin-right: 2.2rem;
}

.main-navbar .nav-container ul li a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.main-navbar .nav-container ul li a:visited, .main-navbar .nav-container ul li a:link {
  color: white;
}

.main-navbar .nav-container ul li a:hover {
  color: grey;
}

.main-navbar .nav-container .right-side-icons {
  margin-right: 1.5rem;
}

.main-navbar .nav-container .right-side-icons i {
  margin-left: 1rem;
}

.messages {
  color: red;
}

.input-radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.input-radio-container input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.input-radio-container label {
  opacity: 0.2;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-radio-container label:hover {
  cursor: pointer;
}

.input-radio-container input[type="radio"]:checked + label {
  opacity: 1;
}

@media only screen and (max-device-width: 800px) {
  .main-navbar .nav-container {
    display: none;
  }
}
