@import "./color-palette";

.navbar {
    width: 100vw;
    height: 60px;
    background-color: $bg-darker-color;
    display: flex;
    align-items: center;

    .logo {
        height: 80%;
        margin-right: 50px;
        margin-left: 40px;
    }

    .nav-container, .right-side-nav {
        display: flex;
        justify-content: space-between;
    }

    ul {
        margin: 0;
        font-size: 20px;
        list-style-type: none;
        

        li {
            display: inline-block;
            padding: 0;
            margin: 0;
            margin-right: 31px;

            a {
                color: $fg-main-color;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: $fg-darker-color;
                }
            }
        }
    }
}